<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/x-icon" href="/assets/img/pusheen-vector-food-3.png"/>

        <!-- Bootstrap link -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- Link to the public style sheet -->
        <link rel="stylesheet" href="/assets/css/burger_style.css">

        <!-- Font Awesome link -->
        <script src="https://kit.fontawesome.com/0a5e91de56.js" crossorigin="anonymous"></script>

        <title>Eat-Da-Burger! Do it!</title>
    </head>

    <body>
        <img id="catBurger" src="/assets/img/1d2a5125c00829a2db525211c794a228.gif" alt="Cartoon cat on top of a burger with a small bite taken out of it">

        {{{ body }}}

        <!-- jQuery link -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <!-- Javascript link -->
        <script src="assets/js/burgerJs.js"></script>
    </body>
</html>