<h1>Eat Dat Burger fam!</h1>

<div class="container">
    <!-- Burger lists -->
    <div class="row">
        <!-- Burgers that have not been devoured -->
        <div class="col-md-6">
            <p>Click on the burger name to DEVOUR IT!</p>

            <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    <li>
                        <button class="devourBtn btn btn-dark" data-id="{{id}}" type="button">
                            {{ burger_name }}
                        </button>             
                    </li>
                {{/unless}}
            {{/each}}
            </ul>
        </div>

        <!-- Burgers that have been devoured -->
        <div class="col-md-6">
            <p>Click on the trash icon to delete a burger.</p>

            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <li>
                            {{burger_name}}
                            
                            <button class="deleteBtn">
                                <i class="fas fa-trash"></i>
                            </button>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <!-- Add new burger -->
    <div class="row">
        <div class="col-md-12">
            <h1>Add a new burger!</h1>

            <form class="newBurgerInfo">
                <div class="input-group">
                    <input type="text" class="burgerInput" name="burger_name" placeholder="Type in the name of a burger">
                
                    <div class="input-group-append">
                        <button type="submit" class="addBurger">Add Burger!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>