/* Main page styling */

html, body {
    background-color: rgb(248, 227, 198);
    margin: 0;
    padding: 0;
}

#catBurger {
    box-shadow: 0px 6px 10px -3px #444;
    border: 3px black solid;
    display: block;
    margin: 15px auto;
    width: 350px;
}

h1, h2, li, ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

h2 {
    border-bottom: 2px black solid;
    margin-bottom: 28px;
    padding-bottom: 8px;
}

.btn {
    background-color: #444;
    border-radius: 50rem;
    font-size: 25px;
    width: 450px;
}

.deleteBtn, .deleteBtn:focus {
    background-color: rgb(248, 227, 198);
    border:none;
    outline:none; 
}

.col-lg-6 {
    font-size: 25px;
    margin-top: 30px;
}

/* Add a Burger */

.col-lg-12 {
    margin-top: 30px;
}

.input-group {
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.burgerInput {
    border-radius: 50rem;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px black solid;
    border-right: 0px;
    font-size: 20px;
    height: 4rem;
    padding-left: 25px;
    width: 65%;
}

.addBurger {
    background-color: #444;
    border-bottom-right-radius: 50rem;
    border-top-right-radius: 50rem;
    border: 1px black solid;
    border-left: 0px;
    color: white;
    font-size: 20px;
    height: 4rem;
    width: 200px;
}

.burgerInput:focus, .addBurger:focus {
    outline: none;
}

.errorCat {
    display: block;
    margin: 5px auto;
}

.hide {
    display: none;
}